 .navbar-center {
      flex: 1;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    .navbar-search {
      width: 50%;
    }

  body{
      margin: 0;
      font-family: 'Poppins', sans-serif;
          background: linear-gradient(135deg, #b3c3e6 0%, #fbb1bf 100%);

    }
